<footer class="footer row space-between">

  <div class="progress" [style.width]="(progress$ | async) + '%'"></div>

  <button survey-btn
          class="btn btn--flat btn--icon caption"
          [disabled]="currentPage === 0"
          (click)="handlePage(currentPage - 1)">

    <mat-icon>arrow_back</mat-icon>
    Назад

  </button>

  <span class="caption">{{ currentPage + 1 }}/{{ maxPages }}</span>

  <button survey-btn
          class="btn btn--flat btn--icon--right caption"
          [disabled]="disabledNextBtn || currentPage >= maxPages"
          (click)="handlePage(currentPage + 1)">

    Вперед
    <mat-icon>arrow_forward</mat-icon>

  </button>

</footer>
